torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
torchdata==0.11.0
torchcodec==0.6.0

transformers==4.57.3
tokenizers==0.22.2
datasets==3.6.0
huggingface-hub==0.34.3
safetensors==0.5.3
qwen-vl-utils==0.0.11
peft==0.15.2
numpy==1.26.4
scipy==1.13.1
pandas==2.3.1
pyarrow==21.0.0
pillow==11.3.0
opencv-python-headless==4.11.0.86
av==15.0.0
imageio==2.34.2
einops==0.8.1
tqdm==4.67.1
pyyaml==6.0.2

blobfile==3.2.0
wandb==0.21.0
tensorboard==2.16.2
sentencepiece==0.2.0
protobuf==3.20.3
packaging==25.0
ninja==1.11.1.4
triton==3.4.0

h5py==3.14.0
jsonlines==4.0.0
zstandard==0.23.0
fsspec==2024.6.1
aiohttp==3.12.15
psutil==7.0.0
ipdb==0.13.13
rich==14.1.0
matplotlib==3.10.3
seaborn==0.13.2
omegaconf==2.3.0
msgpack==1.1.1
websockets==15.0.1
