# The versions are not specified since MoGe should be compatible with most versions of the packages. 
# If incompatibilities are found, consider upgrading to latest versions or installing the following recommended version of the package.
torch           # >= 2.0.0
torchvision
gradio          # ==2.8.13
click           # ==8.1.7
opencv-python   # ==4.10.0.84
scipy           # ==1.14.1
matplotlib      # ==3.9.2
trimesh         # ==4.5.1
pillow          # ==10.4.0
huggingface_hub # ==0.25.2
git+https://github.com/EasternJournalist/utils3d.git@3fab839f0be9931dac7c8488eb0e1600c236e183
git+https://github.com/EasternJournalist/pipeline.git@866f059d2a05cde05e4a52211ec5051fd5f276d6